# Social Media Verification

## Articles

* [https://www.bellingcat.com/resources/2021/11/01/a-beginners-guide-to-social-media-verification/](https://www.bellingcat.com/resources/2021/11/01/a-beginners-guide-to-social-media-verification/)

## Verification Checklist

* Originality
  * Was the media used before?
* Who
  * Who is the source?
* Where
  * Where was the media taken?
* When
  * When was the media captured?
* Why
  * Why was it captured?
